*
{
font-family:sans-serif;	
font-size: 14px;
color: #444444;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body, 
html,
ul
{
	padding: 0px;
	margin: 0px;
}

body {

	width: : 100%;
	background: #DCDCDC;
}

h3 {
	font-size: 16px;
}

ul {
	clear: both;
	list-style-type: none;
	background: #FFFFFF;
}

li {
	clear: both;
	padding-top: 4px;
	padding-bottom: 0px;
	padding-left: 4px;
	padding-right: 0px;
	margin-left: 0px;
	border-bottom:solid 1px #CCCCCC;
	display:block;
}

li .list-icon {
	float: left;
	margin-right: 12px;
	height: 75px; /* TODO: use 100x100 pics instead of scaling */ 
 }


.icon-list li {
	height: 80px;
}

.icon-list .line1 {
	padding-top: 14px;
}

li a { 
	text-decoration:none;
	display: block;
	margin:0px;
}


li .line1 {
	font-size: 16px;
	margin-top:0px;
	margin-bottom:0px;
	padding-top:10px;
	padding-bottom:0px;
	padding-left: 10px;
	font-weight: bold;
}

li .line2 {
	margin-top:4px;
	margin-bottom:0px;
	padding-left: 10px;
	padding-bottom: 10px;
	color: #666666;
}

li .bubble {
	clear:both;
	position: absolute;
	right: 12px;
    background-color: #ECEFF2;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	font-size:14px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
	margin: 0px;
	margin-top: -50px;
	text-align: center;
}

li .action-icon {
	position: absolute;
	right: 12px;
	margin-top: -50px;
}

.header {
	position:  absolute;
 	text-align: center;
 	background: #666666; /* for non-css3 browsers */
	background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#666666), color-stop(.6,#333));
	color: #FFFFFF;
	top: 0px; 
	height: 40px;
	width: 100%;
	border-bottom: solid 1px #444444;
}

.header > h1 {
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
}



.header a { 
	text-decoration:none;
	color: #FFFFFF;
}

#header2 {
	position: absolute;
	padding-top: 10px;
	padding-left: 8px;
	background: #ECEFF2; /* for non-css3 browsers */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#ECEFF2));
	color: #000000;
	font-weight: bold;
	height: 30px;
	left: 0px;
	right: 0px;
	border-bottom: solid 1px #C8CBCE;
	z-index:1;
}

#header2 > h2 {
	font-size: 14px;
	padding:0px;
	margin:0px;
}

#wrapper {
	position: absolute; 
	top: 45px; 
	bottom: 0px;
	width: 100%;
	overflow: auto;
} 

#busy {
	display:none;
	position: absolute;
	top: 50%;
 	left: 50%;
	margin-left: -65px;
	margin-top: -31px;
	color: #FFFFFF;
	font-size: 24px;	
	z-index:6;
	background-color: #000000;
	opacity:0.5;
 	width:100px;
	height:32px;
	padding: 30px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	
}

#locationDetails {
	padding: 8px;
	padding-bottom: 0px;
}

#locationDetails img {
	float: left;
	margin-right: 8px;
    height: 100px;
    vertical-align: top;
}
